* {
  padding: 0px;
  margin: 0px;
}

.main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(42, 42, 42);
}

.main h1 {
  margin-right: 40%;
  font-family: sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  overflow-y: auto;
  width: 50vw;
  height: 50vh;
  background-color: rgb(42, 42, 42);
  border: 10px solid black;
}

.container p {
  font-family: sans-serif;
  font-weight: 1000;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.flex pre {
  color: yellow;
  font-size: 20px;
}
